Following [these](https://www.kaggle.com/gspmoreira/recommender-systems-in-python-101) instructions

In [19]:
import numpy as np
import scipy
import pandas as pd
import math
import random
import sklearn
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse.linalg import svds
import matplotlib.pyplot as plt

In [23]:
articles_df = pd.read_csv("articles-sharing-and-reading-from-ci-t-deskdrop/shared_articles.csv")
articles_df = articles_df[articles_df['eventType'] == "CONTENT SHARED"]
interactions_df = pd.read_csv("articles-sharing-and-reading-from-ci-t-deskdrop/users_interactions.csv")

In [24]:
articles_df.head()

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en
5,1459194522,CONTENT SHARED,-2826566343807132236,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.coindesk.com/ieee-blockchain-oxford...,IEEE to Talk Blockchain at Cloud Computing Oxf...,One of the largest and oldest organizations fo...,en

In [25]:
interactions_df.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,VIEW,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,FOLLOW,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,VIEW,-7820640624231356730,-445337111692715325,5611481178424124714,NaN,NaN,NaN

In [26]:
interactions_df.columns

Index(['timestamp', 'eventType', 'contentId', 'personId', 'sessionId',
       'userAgent', 'userRegion', 'userCountry'],
      dtype='object')

In [27]:
event_type_strength = {
   'VIEW': 1.0,
   'LIKE': 2.0, 
   'BOOKMARK': 2.5, 
   'FOLLOW': 3.0,
   'COMMENT CREATED': 4.0,  
}
interactions_df['eventStrength'] = interactions_df['eventType'].apply(lambda x: event_type_strength[x])
interactions_df.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry,eventStrength
0,1465413032,VIEW,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN,1.0
1,1465412560,VIEW,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US,1.0
2,1465416190,VIEW,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN,1.0
3,1465413895,FOLLOW,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN,3.0
4,1465412290,VIEW,-7820640624231356730,-445337111692715325,5611481178424124714,NaN,NaN,NaN,1.0

In [56]:
users_interactions_count_df = interactions_df.groupby(['personId', 'contentId']).size().groupby('personId').size()

In [57]:
users_interactions_count_df

personId
-9223121837663643404     43
-9212075797126931087      5
-9207251133131336884      7
-9199575329909162940     11
-9196668942822132778      7
-9188188261933657343      9
-9172914609055320039     24
-9156344805277471150     14
-9150583489352258206      1
-9120685872592674274     24
-9109785559521267180     43
-9099478998637725255      2
-9083704948999852989      3
-9063420486253202900      6
-9060214117327732109      8
-9048557723087354030      3
-9047547311469006438     24
-9016528795238256703    342
-9012030317377670760      1
-9009798162809551896    288
-9001583565812478106     40
-8994220765455693336     27
-8985529623369322698      4
-8984152171875293281      3
-8965597312806628567      2
-8965390025652957482      4
-8961797610770561652      2
-8909668725653743114      9
-8891033171626175843     19
-8860671864164757449    166
                       ...
 8961723342122872302     13
 8965285988346645117      5
 8968131284214320024    109
 8968304737931264993      1
 8982783231149017560      5
 8992729171160464416     15
 8995194509387682302      1
 9001399366994458639      1
 9008788011897883731      2
 9013651444868609421     19
 9033898219489253274      5
 9037410398700100618      8
 9038446466275805109     10
 9042983166068668843      1
 9050204922960952289      8
 9090527742744334314     10
 9091970136990402395     10
 9102085903669288476      8
 9105269044962898535     17
 9109075639526981934     73
 9128735267433534024      1
 9135582630122950040     11
 9137372837662939523     13
 9148269800512008413     51
 9152852494775096912      2
 9165571805999894845      5
 9187866633451383747     17
 9191849144618614467     12
 9199170757466086545     14
 9210530975708218054     63
Length: 1895, dtype: int64

In [58]:
testdf = interactions_df.groupby(['personId']).size()
testdf

personId
-9223121837663643404     63
-9212075797126931087      9
-9207251133131336884     14
-9199575329909162940     15
-9196668942822132778     10
-9188188261933657343     11
-9172914609055320039     33
-9156344805277471150     27
-9150583489352258206      1
-9120685872592674274     81
-9109785559521267180     83
-9099478998637725255      5
-9083704948999852989      4
-9063420486253202900      8
-9060214117327732109     12
-9048557723087354030      3
-9047547311469006438     40
-9016528795238256703    634
-9012030317377670760      1
-9009798162809551896    430
-9001583565812478106     63
-8994220765455693336     39
-8985529623369322698     10
-8984152171875293281      5
-8965597312806628567      3
-8965390025652957482      4
-8961797610770561652      3
-8909668725653743114     13
-8891033171626175843     42
-8860671864164757449    275
                       ...
 8961723342122872302     18
 8965285988346645117      7
 8968131284214320024    261
 8968304737931264993      3
 8982783231149017560      9
 8992729171160464416     16
 8995194509387682302      2
 9001399366994458639      2
 9008788011897883731      7
 9013651444868609421     28
 9033898219489253274      7
 9037410398700100618      8
 9038446466275805109     13
 9042983166068668843      1
 9050204922960952289      8
 9090527742744334314     18
 9091970136990402395     14
 9102085903669288476     11
 9105269044962898535     24
 9109075639526981934    169
 9128735267433534024      1
 9135582630122950040     16
 9137372837662939523     16
 9148269800512008413    120
 9152852494775096912      2
 9165571805999894845      8
 9187866633451383747     26
 9191849144618614467     19
 9199170757466086545     26
 9210530975708218054    135
Length: 1895, dtype: int64

In [59]:
df

     A      B         C         D
0  foo    one -0.156118  0.159935
1  bar    one -2.162268  1.647815
2  foo    two  0.277723 -1.483098
3  bar  three  0.637215 -0.538718
4  foo    two -0.577283  0.063750
5  bar    two  0.008993  0.934937
6  foo    one -1.990583  0.054287
7  foo  three  0.200857  0.639161

In [65]:
df.groupby(['A','B']).size().groupby('A').size()

A
bar    3
foo    3
dtype: int64

In [62]:
df.groupby(['A','B']).size()

A    B
bar  one      1
     three    1
     two      1
foo  one      2
     three    1
     two      2
dtype: int64

In [63]:
df.groupby(['A']).size()

A
bar    3
foo    5
dtype: int64

In [69]:
df["A"].value_counts()

foo    5
bar    3
Name: A, dtype: int64

In [70]:
print('# users: %d' % len(users_interactions_count_df))

# users: 1895

In [71]:
users_with_enough_interactions_df = users_interactions_count_df[users_interactions_count_df >= 5].reset_index()[['personId']]

In [72]:
users_with_enough_interactions_df.head()

              personId
0 -9223121837663643404
1 -9212075797126931087
2 -9207251133131336884
3 -9199575329909162940
4 -9196668942822132778

In [73]:
print('# users with at least 5 interactions: %d' % len(users_with_enough_interactions_df))

# users with at least 5 interactions: 1140

In [74]:
print('# of interactions: %d' % len(interactions_df))

# of interactions: 72312

In [75]:
interactions_from_selected_users_df = interactions_df.merge(users_with_enough_interactions_df, 
               how = 'right',
               left_on = 'personId',
               right_on = 'personId')
print('# of interactions from users with at least 5 interactions: %d' % len(interactions_from_selected_users_df))

# of interactions from users with at least 5 interactions: 69868

In [76]:
def smooth_user_preference(x):
    return math.log(1+x, 2)

In [77]:
interactions_full_df = interactions_from_selected_users_df \
                    .groupby(['personId', 'contentId'])['eventStrength'].sum() \
                    .apply(smooth_user_preference).reset_index()
print('# of unique user/item interactions: %d' % len(interactions_full_df))
interactions_full_df.head(10)

# of unique user/item interactions: 39106

              personId            contentId  eventStrength
0 -9223121837663643404 -8949113594875411859       1.000000
1 -9223121837663643404 -8377626164558006982       1.000000
2 -9223121837663643404 -8208801367848627943       1.000000
3 -9223121837663643404 -8187220755213888616       1.000000
4 -9223121837663643404 -7423191370472335463       3.169925
5 -9223121837663643404 -7331393944609614247       1.000000
6 -9223121837663643404 -6872546942144599345       1.000000
7 -9223121837663643404 -6728844082024523434       1.000000
8 -9223121837663643404 -6590819806697898649       1.000000
9 -9223121837663643404 -6558712014192834002       1.584963

# Evaluation

In [79]:
interactions_train_df, interactions_test_df = train_test_split(interactions_full_df,
                                   stratify=interactions_full_df['personId'], 
                                   test_size=0.20,
                                   random_state=42)

In [80]:
print('# interactions on Train set: %d' % len(interactions_train_df))
print('# interactions on Test set: %d' % len(interactions_test_df))

# interactions on Train set: 31284
# interactions on Test set: 7822

**Top-N accuracy metrics**, which evaluates the accuracy of the top recommendations provided to a user, comparing to the items the user has actually interacted in test set.
This evaluation method works as follows:

- For each user
    + For each item the user has interacted in test set
        * Sample 100 other items the user has never interacted. Ps. Here we naively assume those non interacted items are not relevant to the user, which might not be true, as the user may simply not be aware of those not interacted items. But let's keep this assumption.
        * Ask the recommender model to produce a ranked list of recommended items, from a set composed one interacted item and the 100 non-interacted ("non-relevant!) items
        * Compute the Top-N accuracy metrics for this user and interacted item from the recommendations ranked list
- Aggregate the global Top-N accuracy metrics

In [81]:
#Indexing by personId to speed up the searches during evaluation
interactions_full_indexed_df = interactions_full_df.set_index('personId')
interactions_train_indexed_df = interactions_train_df.set_index('personId')
interactions_test_indexed_df = interactions_test_df.set_index('personId')

In [82]:
def get_items_interacted(person_id, interactions_df):
    # Get the user's data and merge in the movie information.
    interacted_items = interactions_df.loc[person_id]['contentId']
    return set(interacted_items if type(interacted_items) == pd.Series else [interacted_items])

In [83]:
#Top-N accuracy metrics consts
EVAL_RANDOM_SAMPLE_NON_INTERACTED_ITEMS = 100

class ModelEvaluator:


    def get_not_interacted_items_sample(self, person_id, sample_size, seed=42):
        interacted_items = get_items_interacted(person_id, interactions_full_indexed_df)
        all_items = set(articles_df['contentId'])
        non_interacted_items = all_items - interacted_items

        random.seed(seed)
        non_interacted_items_sample = random.sample(non_interacted_items, sample_size)
        return set(non_interacted_items_sample)

    def _verify_hit_top_n(self, item_id, recommended_items, topn):        
            try:
                index = next(i for i, c in enumerate(recommended_items) if c == item_id)
            except:
                index = -1
            hit = int(index in range(0, topn))
            return hit, index

    def evaluate_model_for_user(self, model, person_id):
        #Getting the items in test set
        interacted_values_testset = interactions_test_indexed_df.loc[person_id]
        if type(interacted_values_testset['contentId']) == pd.Series:
            person_interacted_items_testset = set(interacted_values_testset['contentId'])
        else:
            person_interacted_items_testset = set([int(interacted_values_testset['contentId'])])  
        interacted_items_count_testset = len(person_interacted_items_testset) 

        #Getting a ranked recommendation list from a model for a given user
        person_recs_df = model.recommend_items(person_id, 
                                               items_to_ignore=get_items_interacted(person_id, 
                                                                                    interactions_train_indexed_df), 
                                               topn=10000000000)

        hits_at_5_count = 0
        hits_at_10_count = 0
        #For each item the user has interacted in test set
        for item_id in person_interacted_items_testset:
            #Getting a random sample (100) items the user has not interacted 
            #(to represent items that are assumed to be no relevant to the user)
            non_interacted_items_sample = self.get_not_interacted_items_sample(person_id, 
                                                                          sample_size=EVAL_RANDOM_SAMPLE_NON_INTERACTED_ITEMS, 
                                                                          seed=item_id%(2**32))

            #Combining the current interacted item with the 100 random items
            items_to_filter_recs = non_interacted_items_sample.union(set([item_id]))

            #Filtering only recommendations that are either the interacted item or from a random sample of 100 non-interacted items
            valid_recs_df = person_recs_df[person_recs_df['contentId'].isin(items_to_filter_recs)]                    
            valid_recs = valid_recs_df['contentId'].values
            #Verifying if the current interacted item is among the Top-N recommended items
            hit_at_5, index_at_5 = self._verify_hit_top_n(item_id, valid_recs, 5)
            hits_at_5_count += hit_at_5
            hit_at_10, index_at_10 = self._verify_hit_top_n(item_id, valid_recs, 10)
            hits_at_10_count += hit_at_10

        #Recall is the rate of the interacted items that are ranked among the Top-N recommended items, 
        #when mixed with a set of non-relevant items
        recall_at_5 = hits_at_5_count / float(interacted_items_count_testset)
        recall_at_10 = hits_at_10_count / float(interacted_items_count_testset)

        person_metrics = {'hits@5_count':hits_at_5_count, 
                          'hits@10_count':hits_at_10_count, 
                          'interacted_count': interacted_items_count_testset,
                          'recall@5': recall_at_5,
                          'recall@10': recall_at_10}
        return person_metrics

    def evaluate_model(self, model):
        #print('Running evaluation for users')
        people_metrics = []
        for idx, person_id in enumerate(list(interactions_test_indexed_df.index.unique().values)):
            #if idx % 100 == 0 and idx > 0:
            #    print('%d users processed' % idx)
            person_metrics = self.evaluate_model_for_user(model, person_id)  
            person_metrics['_person_id'] = person_id
            people_metrics.append(person_metrics)
        print('%d users processed' % idx)

        detailed_results_df = pd.DataFrame(people_metrics) \
                            .sort_values('interacted_count', ascending=False)
        
        global_recall_at_5 = detailed_results_df['hits@5_count'].sum() / float(detailed_results_df['interacted_count'].sum())
        global_recall_at_10 = detailed_results_df['hits@10_count'].sum() / float(detailed_results_df['interacted_count'].sum())
        
        global_metrics = {'modelName': model.get_model_name(),
                          'recall@5': global_recall_at_5,
                          'recall@10': global_recall_at_10}    
        return global_metrics, detailed_results_df
    
model_evaluator = ModelEvaluator()